

.white-box {
    width: max-content; /* Utilizza min-content o max-content */
    height: auto;
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    
  }

.box-button {
  display: block;
  width: 200px; /* Utilizza min-content o max-content */
  height: 500px;
  background-color: white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.main-container{
  display: flex;
  gap: 10px; /* Spazio tra i div */
  justify-content: center; /* Centra i div orizzontalmente */
  align-items: center; /* Centra i div verticalmente */
  height: 100vh;

}

.center-div-table{
  justify-content: center; /* Centra i div orizzontalmente */
  align-items: center; /* Centra i div verticalmente */
  margin-left: 130px;
  margin-right: 130px;
}

.center-div-log{
  justify-content: center; /* Centra i div orizzontalmente */
  align-items: center; /* Centra i div verticalmente */
  margin-left: 130px;
  margin-right: 130px;
  margin-top:150px;
}


.center-div{
  display: flex;
  justify-content: center; /* Centra i div orizzontalmente */
  align-items: center; /* Centra i div verticalmente */
  margin-top: -100px;
  margin-bottom: 10px;
}

.center-button{
  display: flex;
  justify-content: center; /* Centra i div orizzontalmente */
  align-items: center; /* Centra i div verticalmente */
  margin-bottom: 10px;
}
.center-table{
  display: flex;
  justify-content: center; /* Centra i div orizzontalmente */
  align-items: center; /* Centra i div verticalmente */
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.map{
  display: flex;
  justify-content: center; /* Centra i div orizzontalmente */
  align-items: center; /* Centra i div verticalmente */
  margin-top: 150px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
  z-index: 1;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}


.button {
  display: block; /* Rende i bottoni elementi blocco */
  padding: 10px;
  text-align: center;
  background-color: #334380;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 5px; /* Aggiunge spazio tra i bottoni */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s; /* Aggiunge un'animazione di transizione */
  margin-right: 10px

}

.button:hover {
  background-color: #1a2242; /* Cambia il colore al passaggio del mouse */
}

.space{
  height: 150px;
}

.logging-container {
  width: 80%;
  margin: 20px auto;
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #FFFF; /* Colore della barra del titolo */
}

.title-bar {
  display: flex;
  align-items: right;
  height: 30px;
  padding-left: 10px;
  background-color: #1a2242; /* Colore della barra del titolo */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #ccc
}


.content-container {
  margin-top: 10px;
  max-height: 400px;
  overflow: auto;

}


.log-container {
  padding-left: 20px;
  height: 400px;
  max-height: 400px;

}

ul {
  list-style: none;
}



